---
import Hamburguesa from "./Hamburguesa.astro"
import Navegacion from "./Navegacion.astro"
import IconoTema from './IconoTema.astro';
---
<header>
    <nav>
        <Hamburguesa/>
        <IconoTema />
        <Navegacion/>
    </nav>
</header>